{{ 'section-highlight-articles.css' | asset_url | stylesheet_tag }}

<section class="harticle__wrapper">
  {% for article in section.blocks %}
    <div
      class="harticle__block"
      id="
        {%- if article.settings.reverse -%}
          harticle__block--reverse
        {%- endif -%}
      "
    >
      <div class="harticle__block__body">
        {% if article.settings.heading != empty %}
          <h3 class="harticle__heading">{{ article.settings.heading }}</h3>
        {% endif %}

        {% if article.settings.paragraph != empty %}
          <div class="harticle__paragraph">
            {{ article.settings.paragraph }}
          </div>
        {% endif %}
      </div>

      {% if article.settings.image %}
        <div
          class="harticle__image"
          style="
            transform:
            translate({{ article.settings.horizontal }}px, -{{ article.settings.vertical }}px)
            scale(1.{{ article.settings.scale }});
          "
        >
          {{ article.settings.image | image_url: width: 800 | image_tag }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Highlight Articles",
  "blocks": [
    {
      "name": "Article",
      "type": "article",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph"
        },
        {
          "type": "checkbox",
          "id": "reverse",
          "label": "Reverse",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Horizontal Image Movement",
          "default": 0
        },
        {
          "type": "range",
          "id": "vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Vertical Image Movement",
          "default": 0
        },
        {
          "type": "range",
          "id": "scale",
          "min": 0,
          "max": 10,
          "step": 1,
          "label": "Scale Image Movement",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Highlight Articles"
    }
  ]
}
{% endschema %}
